/* .popup__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
} */

.popup__fields {
  display: flex;
  flex-direction: column;

  gap: 2px;
}

@media screen and (max-width: 425px) {
  .popup__fields {
    gap: 0px;
  }
}
